[submodule "vendor/antfu"]
	path = vendor/antfu
	url = https://github.com/antfu/skills
[submodule "vendor/mattpocock"]
	path = vendor/mattpocock
	url = https://github.com/mattpocock/skills
[submodule "vendor/anthropics"]
	path = vendor/anthropics
	url = https://github.com/anthropics/skills
[submodule "vendor/lucifer1004"]
	path = vendor/lucifer1004
	url = https://github.com/lucifer1004/claude-skill-typst
[submodule "vendor/noartem"]
	path = vendor/noartem
	url = https://github.com/noartem/laravel-vue-skills
[submodule "vendor/silvainfm"]
	path = vendor/silvainfm
	url = https://github.com/silvainfm/claude-skills
[submodule "vendor/vuejs-ai"]
	path = vendor/vuejs-ai
	url = https://github.com/vuejs-ai/skills
[submodule "vendor/vueuse"]
	path = vendor/vueuse
	url = https://github.com/vueuse/skills
[submodule "sources/typst"]
	path = sources/typst
	url = https://github.com/typst/typst
